<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>
                    {{dish.name | uppercase}}
                </h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
            <p>
                {{dish.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list fxFlex>
        <h3>comment</h3>
        <mat-list-item *ngFor="let Comments of dish.comments ">
            <p matLine> <span>{{Comments.comment}} </span>  </p>
            <p matLine> <span>{{Comments.rating}} stars</span>  </p>
            <p matLine> <span>--{{Comments.author}} {{Comments.date | date}} </span>  </p>
        </mat-list-item>
      </mat-list>

      <div class="form-size">
        <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="full-width">
                <input matInput formControlName="author" placeholder="Name" type="text" required>
                <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-slider
                [max]="5"
                [min]="1"
                [step]="1"
                [thumbLabel]="true"
                [tickInterval]="1"
                formControlName="rating">
            </mat-slider>
        </p>
        <p>
            <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Comment" rows=2 required></textarea>
            <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
            </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white"
            [disabled]="commentForm.invalid">Submit</button>
        </form>
    </div>
  </div>

    <div *ngIf="commentForm.valid">
        <p>
            {{commentForm.get("comment").value}} <br>
            {{commentForm.get("rating").value}} Stars<br>
            -- {{commentForm.get("author").value}} {{commentForm.get("date").value | date}} <br>
        </p>
    </div>
    


  <div [hidden]="dish || errMEss">
    <mat-spinner></mat-spinner>
    <h4>Loading...Please Wait!</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>